h1,h2{
    color: #D4D4D2;
}

h1{
    margin-block-start: 0em;
}

.input_area{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;   
}

input{
    height: 1.5em;
}

textarea{
    font-size: 15px;
    text-align: center;
    width: 100%;
    margin-top: 2em;
}

.container{
    margin-top: 30px;
    background-color: #1C1C1C;
    display: inline-flex;
    padding: 1em;
    border-radius: 1em;
    flex-direction: column;
    align-items: center;
    width: 20em;
}

.area{
    display: flex;
    justify-content: center;
}

button{
    padding: 10px 60px;
    background: #fff;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 30px;
    font-weight: 500;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

button:hover{
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.555),0 17px 50px 0 rgba(0,0,0,0.19);
    cursor: pointer;
}

#link-imc{
    margin-top: 10px;
    text-decoration: none;
    color: white;
    font-size: 18px;
}